img {
    width: 22vw;
    margin-left: 35vw;
    margin-right: 35vw;
    margin-top: -1em;
    margin-bottom: -5em;
}

input {
    margin-left: 23vw;
    margin-right: 23vw;
    width: 44vw;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 25px;
}

input:hover {
    border: none;
    box-shadow: 1px 0px 7px#cacfd2;
}

button {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f2f3f4;
    margin-right: 0.4em;
    border: 0px;
    border-radius: 5px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: #424949;
    margin-bottom: 5em;
}

button:hover {
    border: 1px solid rgb(155, 154, 154);
    background: linear-gradient(to top, rgb(240, 240, 240), rgb(253, 253, 253));
}

.buttons {
    margin-left: 31.5em;
    margin-top: 1.5em;
}

ul {
    list-style-type: none;
}

ul li {
    float: left;
    padding-right: 18px;
}

li a {
    text-decoration: none;
    color: #1c2833;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

li a:hover {
    text-decoration: underline;
}

#user {
    background-color:#1a5276;
    padding: 8px 12px;
    border-radius: 50px;
    color: white;
    font-size: 15px;
}

#user:hover {
    text-decoration: none;
}

#nav-container {
    display: grid;
    grid-template-areas:
    "nav1 nav1 empty empty empty nav2 nav2 nav2";
    grid-template-columns: 1.5fr 4fr 1.5fr;
    background-color: white;
    grid-gap: 10px;
    margin-top: -0.5em;
    margin-left: -0.5em;
    margin-right: -0.6em;
    height: 12vh;
}

#nav-container > div {
    background-color: white;
    padding: 10px;
    height: 8vh;
}

#nav1 {
    grid-area: "nav1";
}

#nav1 > * {
    margin-left: -20px;
}

#empty {
    grid-area: "empty";
}

#nav2 {
    grid-area: "nav2";
    margin-right: -3.4em;
}

#nav2 > * {
    float: right !important;
}

#nav-container2 {
    display: grid;
    grid-template-areas:
    "nav3 nav3 empty2 empty2 empty2 nav4 nav4 nav4";
    grid-template-columns: 2,5fr 2fr 1.5fr;
    background-color: #eee;
    margin-top: 7em;
    margin-left: -0.5em;
    margin-right: -0.6em;
    padding-bottom: 2em;
    margin-bottom: -8em;
    height: 12vh;
    border-top: 1px solid #ddd;
}

#nav-container2 > div {
    background-color: #eeeeee;
    height: 6vh;
    margin-bottom: -10em;
    color: #7f8c8d;
}

#nav3 {
    grid-area: "nav3";
    margin-right: 30em;
}

#nav3 > * {
    margin-left: -20px;
}

#empty2 {
    grid-area: "empty2";
    margin-right: 18em;
}

#nav3 > * {
    margin-left: -20px;
}

#empty2 {
    grid-area: "empty2";
}

#nav4 {
    grid-area: "nav4";
    margin-right: -3em;
}
